body {
    font-family: times new roman, bold;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}
body {
    color: #000000;
    text-align: left;
    margin-top: 30px;
    font-size: 60px;
}
p {
    text-align: left;
    font-size: 30px;
    margin-top: 35px;
    margin-right: 50px;
}
video {
    display: block;
    margin-right: 55px;

}